<%- include('partials/_header')  %> 
      
      <%- include('partials/_navigation')  %> 
      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our Shop</h1>
                  <p class="about_text">Is Providing High quality furniture with on trend design with honesty, pride and originality. We believe in the Liberty Way, setting high standards and dedication in order to find a way to say yes. We are a privately owned business that designs value-driven, quality furniture.</p>
               </div>
            </div>
            <div class="about_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="images/about-img.png"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="good_text">Good Furntures Design</div>
                     <p class="making_text">In 1992, began with a vision of a company that would thrive on the values of hard-work, fairness, and integrity. This initiative and passion for success is visible to this day and is at the very heart of Liberty. Liberty Furniture products are sold exclusively through a network of authorized dealers.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- footer section start -->
<%- include('partials/_footer')  %> 