<%- include('partials/_header')  %> 
      
      <%- include('partials/_navigation')  %> 
      <!-- header section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital contact_heading">Get In Touch</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="/contact" method="post">
                           <input type="text" class="mail_text" placeholder="Name" name="name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="phone"> 
                           <input type="text" class="mail_text" placeholder="Email" name="email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="message"></textarea>
                           <div class="btn_main">
                              <div class="send_bt mr-2"><button>Send</button></div>
                              <div class="map_bt active"><button id="showMap">Map</button></div>
                           </div>
                        </form>
                        <div class="map_main map_container">
                           <div class="map-responsive">
                              <iframe src="https://maps.google.com/maps?q=Atat%C3%BCrk%20K%C3%B6%C5%9Fk%C3%BC%20Trabzon&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="368" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                              <div class="btn_main">
                                 <div class="map_bt d-flex justify-content-center w-100 map_center"><a href="#" id="showForm">Form</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
 <%- include('partials/_footer')  %> 